page-home {

  .scroll-content{
    background-color: #BCEAC9;
  }

  .login-card {
    margin-top: 45%;
    padding: 5px 5px;
    //background-color: lightgoldenrodyellow;
  }

  .start-journey-button {
    opacity: 0.85;
  }

}
