<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <h2 id="home-heading1" style="color:#387EF5;font-weight:600;">Good Evening, Gregor!</h2>
    <div id="home-container2" class="creator-container"></div>
    <button id="home-button1" style="border-radius:10px 10px 10px 10px;" class="button button-positive button-large button-block">Play Best Buy Tinder</button>
    <div class="list card" id="home-card21">
      <div class=" item item-image">
        <img src="img/IQZafeLBRXW91sQ9p3qY_daily-deals.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container2">
        <div id="home-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#387EF5;font-size:30px;">See Deals</p>
        </div>
      </div>
    </div>
    <div class="list card" id="home-card25">
      <div class=" item item-image">
        <img src="img/8ZY8BaHAS5SslLgdvdD8_compare-title-image_tcm7-198714.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="item item-body" id="home-list-item-container8">
        <div id="home-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#387EF5;font-size:30px;">Compare Items</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>