<ion-header>
  <ion-navbar>
    <ion-title>
      Tinder
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <img *ngIf="currentImage === 0" class="tinder-image" src="./../../assets/imgs/computer.png">
    <ion-card-content *ngIf="currentImage === 0">
      This is a computer!
    </ion-card-content>
    <img *ngIf="currentImage === 1" class="tinder-image" src="./../../assets/imgs/macbook.png">
    <ion-card-content *ngIf="currentImage === 1">
      This is a macbook!
    </ion-card-content>
    <img *ngIf="currentImage === 2" class="tinder-image" src="./../../assets/imgs/gaming.png">
    <ion-card-content *ngIf="currentImage === 2">
      This is a gaming laptop!
    </ion-card-content>
  </ion-card>
  <ion-row class="action-buttons-group">
    <ion-col col-1></ion-col>
    <ion-col col-4>
      <ion-img class="action-buttons" src="./../../assets/imgs/pass.jpg" (tap)="lastImage()"></ion-img>
    </ion-col>
    <ion-col col-2></ion-col>
    <ion-col col-4>
      <ion-img class="action-buttons" src="./../../assets/imgs/like.jpg" (tap)="nextImage()"></ion-img>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>
</ion-content>
