<ion-header>

  <ion-navbar>
    <ion-title> Customize your suggestion for these laptops:</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-row *ngIf="counter === 0">
    <ion-item>
      <ion-label>How much are you willing to pay?</ion-label>
      <ion-select (ionBlur)="incrementCounter()">
        <ion-option>$100-300</ion-option>
        <ion-option>$300-500</ion-option>
        <ion-option>$500-1000</ion-option>
        <ion-option>$1000-1500</ion-option>
        <ion-option>$2000+</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <ion-row *ngIf="counter === 1">
    <ion-item>
      <ion-label>Which operating system do you prefer?</ion-label>
      <ion-select (ionBlur)="incrementCounter()">
        <ion-option>Linux</ion-option>
        <ion-option>Windows</ion-option>
        <ion-option>MacOS</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <ion-row *ngIf="counter === 2">
    <ion-item>
      <ion-label>A lot of people have to have one or the other. What is your preference?</ion-label>
      <ion-select multiple (ionBlur)="incrementCounter()">
        <ion-option>Listen to Music</ion-option>
        <ion-option>Editing Pictures</ion-option>
        <ion-option>Intensive Applications</ion-option>
        <ion-option>Storing Pictures/Music</ion-option>
        <ion-option>Gaming</ion-option>
        <ion-option>Schoolwork</ion-option>
        <ion-option>Browsing</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <ion-row *ngIf="counter === 3">
    <ion-item>
      <ion-label>What about portability?</ion-label>
      <ion-select (ionBlur)="incrementCounter()">
        <ion-option>Very Small</ion-option>
        <ion-option>Fairly Portable</ion-option>
        <ion-option>Not Important</ion-option>
      </ion-select>
    </ion-item>
  </ion-row>

  <div *ngIf="counter === 4">
    <button ion-button full (tap)="gotoRecommendationsPage()">
      Pick For Me!
    </button>
  </div>

</ion-content>
