page-home {

  .action-buttons-group {
    margin-bottom: 50px;
  }

  .toolbar-ios {
    min-height: 80px;
  }

  ion-content {
    margin-top: 50px;
  }

  ion-col {
    text-align: center;
  }

  .action-buttons {
    height: 50px;
    width: 50px;
  }

  .tinder-block {
    height: 90%;
    width: 90%;
  }

  .tinder-image {
    margin-top: 90px;
    margin-left: 15px;
    height: 180px;
    width: 275px;
  }
}
